TRANSLATE_GEMMA_MODEL_DIR=/data/translate-gemma/model
TRANSLATE_GEMMA_API_KEY=change-me
TRANSLATE_GEMMA_MAX_NEW_TOKENS=2048
TRANSLATE_GEMMA_CHUNK_CHARS=1800
TRANSLATE_GEMMA_CHUNK_MAX_NEW_TOKENS=512
TRANSLATE_GEMMA_MAX_BATCH_SIZE=24
TRANSLATE_GEMMA_LONG_BATCH_SIZE=3
TRANSLATE_GEMMA_LOCK_WAIT_SECONDS=60
TRANSLATE_GEMMA_BATCH_WAIT_SECONDS=0.08
TRANSLATE_GEMMA_BATCH_MIN_WAIT_SECONDS=0.005
TRANSLATE_GEMMA_BATCH_MAX_CHARS=6000
TRANSLATE_GEMMA_SHORT_TEXT_CHARS=255
TRANSLATE_GEMMA_MEDIUM_TEXT_CHARS=1024
TRANSLATE_GEMMA_LONG_JOB_PROMOTE_SECONDS=3
TRANSLATE_GEMMA_QUEUE_MAX_SIZE=256
TRANSLATE_GEMMA_QUEUE_RESULT_TIMEOUT_SECONDS=180
